.pageToTop{
	/*animation: moveToTopFade .5s ease;*/
	transform:translate3d(0,-100%,0);
	transition: .5s ease;
}
.pageFromTop{
	/*animation: moveFromTopFade .5s ease;*/
	transform:translateY(0%);
	transition: 0;
}
.pageToBottom{
	/*animation: moveToBottomFade .5s ease; */
	transform:translate3d(0,100%,0);
	transition: .5s ease;
}
.pageFromBottom{
	/*animation: moveFromBottomFade .5s ease;*/
	transform: translateY(0%);
	transition: 0;
}
.pageToRight{
	/*animation: moveToRightFade .5s ease; */
	transform: translate3d(100%,0,0);
	transition:.5s easein;
}
.pageFromRight{
	/*animation: moveFromRightFade .5s ease;*/
	transform: translateX(100%);
	transition:0s ease;
}
.pageFromBase,.pageToBase{
	transform:translate3d(0,0,0);
	transition:.5s easein;
}

.moveLoop{
	animation:moveToTopLoop 3s infinite ease;
}
@keyframes moveToTopLoop{
	0% { transform: translateY(0); }
	30% { opacity: 1; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	60% { opacity: 1; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	100% { -webkit-transform: translateY(0); transform: translateY(0); }
} 

